@amarillo:#ede90e;
@rojo:#c42b10;
@verde:#0d8707;
//

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.colores(@color){
    color: @color;
}

body {
    background-color: #f2f2f2; }
  
  .jumbotron {
    background-color: @verde;
    color: #fff;
    /*padding: 0;*/ }
  
  .footer {
    background-color: #4287f5;
    .colores(@amarillo);
    .margenes(16px,0px);
  }
  
  .footer .direccion {
    text-align: center; }
  
  .footer a {
    color:@verde;
    text-decoration: none;
    margin-right: 20px; }
  
  .tarjeta {
    flex: 1 33%;
    padding: 20px;
    .margenes(20px, 0px);}
  
  .addres-icon {
    margin-right: 5px; }
  
  .social-icon {
    padding: 5px; }
  
  .habitaciones {
    text-align: center;
    margin-top: 2rem; }
  
  .texto-icono {
    margin-left: 10px; }
  
  .banner {
    width: 100%;
    height: 300px; }
  