body {
  background-color: #f2f2f2; }

.jumbotron {
  background-color: #4190f7;
  color: #fff;
  /*padding: 0;*/ }

.footer {
  background-color: #4190f7;
  color: #fff;
  padding-top: 16px;
  margin-top: 20px;
  margin-bottom: 0px; }

.footer .direccion {
  text-align: center; }

.footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px; }

.tarjeta {
  flex: 1 33%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 0px; }

.addres-icon {
  margin-right: 5px; }

.social-icon {
  padding: 5px; }

.habitaciones {
  text-align: center;
  margin-top: 2rem; }

.texto-icono {
  margin-left: 10px; }

.banner {
  width: 100%;
  height: 300px; }

/*# sourceMappingURL=styles.css.map */
