body {
  background-color: #f2f2f2;
}
.jumbotron {
  background-color: #0d8707;
  color: #fff;
  /*padding: 0;*/
}
/**/
.footer {
  background-color: #4287f5;
  color: #ede90e;
  margin-top: 16px;
  margin-bottom: 0px;
}
.footer .direccion {
  text-align: center;
}
.footer a {
  color: #0d8707;
  text-decoration: none;
  margin-right: 20px;
}
.tarjeta {
  flex: 1 33%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.addres-icon {
  margin-right: 5px;
}
.social-icon {
  padding: 5px;
}
.habitaciones {
  text-align: center;
  margin-top: 2rem;
}
.texto-icono {
  margin-left: 10px;
}
.banner {
  width: 100%;
  height: 300px;
}
