$celeste: #4190f7;
$amarillo:#ede90e;
//$rojo:#c42b10;
$verde:#0d8707;
$blanco:#fff;

@mixin margenes($top, $bottom){

    margin-top: $top;
    margin-bottom: $bottom;
}



body{
    background-color: #f2f2f2;
    }
    .jumbotron{
        background-color: $celeste;
        color: $blanco;
        /*padding: 0;*/
    }
    
    .footer{
        background-color:$celeste;
        color: $blanco;
        padding-top: 16px;
        @include margenes(20px, 0px);
    }
    .footer .direccion{
        text-align: center;
    }
    .footer a{
        color: $blanco;
        text-decoration: none;
        margin-right: 20px;
       
    }
    
    .tarjeta{
        flex: 1 33%;
        padding: 20px;
        @include margenes(20px, 0px);
    }
    
    .addres-icon{
        margin-right: 5px;
    }
    .social-icon{
        padding: 5px;
    }
    .habitaciones{
        text-align: center;
        margin-top: 2rem;
    }
    
    .texto-icono{
        margin-left: 10px;
    }
    .banner{
        
        width: 100%;
        height: 300px;
        
    }
    


